<div class="section-layout">
    <div class="section-header">
        <h2 (click)="rerollJob()" class="clickable shake header">{{ jobsObjSignal().name | uppercase }}</h2>
    </div>
    <div class="section-body">
        <div class="descrip-section">
            <em><span [innerHTML]="jobsObjSignal().descrip"></span></em>
        </div>
        <span [class]="{'split-feature-layout': jobsObjSignal().extraFeature}">
            <div class="feature-section">
                <div (click)="rerollFeature()" class="clickable shake">{{chosenFeatureSignal().title | uppercase}}</div>
                @if (chosenFeatureSignal().subtitle) {
                    <em class="subtitle-section">{{chosenFeatureSignal().subtitle}}</em>
                }
                <div><span [innerHTML]="chosenFeatureSignal().descrip"></span></div>
            </div>
            @if (jobsObjSignal().extraFeature) {
                <div class="extra-feature-section">
                    <span class="extra-feature-title">
                        <span class="extra-title">{{jobsObjSignal().extraFeature?.title}}</span>
                        {{jobsObjSignal().extraFeature?.subtitle}}
                    </span>
                    <span class="extra-feature-body">
                        @for (feature of jobsObjSignal().extraFeature?.features; track $index) {
                            <div class="feature-header">
                                <strong>{{feature.title}}</strong> <span [innerHtml]="feature.descrip"></span>
                            </div>
                            @if (feature.extra) {
                                <div class="feature-extra">
                                    @for (ex of feature.extra; track $index) {
                                        <div [innerHTML]="ex"></div>
                                    }
                                </div>
                            }
                        }
                    </span>
                </div>
            }
        </span>
    </div>
</div>
