<div class="section-layout">
    <div class="section-header">
        <h2 (click)="rerollJob()" class="clickable shake header">{{ jobsObjSignal().name | uppercase }}</h2>
    </div>
    <div class="section-body">
        <div class="descrip-section">
            <em><span [innerHTML]="jobsObjSignal().descrip"></span></em>
        </div>
        <span [class]="{
            'split-feature-layout': jobsObjSignal().pet && !jobsObjSignal().rulesFeature,
            'rules-pancake-layout': jobsObjSignal().rulesFeature,

        }">
            @if ((chosenFeatureSignal() | json) !== '{}') {
                <div class="feature-section">
                    <div (click)="rerollFeature()" class="clickable shake">{{chosenFeatureSignal().title | uppercase}}</div>
                    @if (chosenFeatureSignal().subtitle) {
                        <em class="subtitle-section">{{chosenFeatureSignal().subtitle}}</em>
                    }
                    <div><span [innerHTML]="chosenFeatureSignal().descrip"></span></div>
                </div>
            } @else {
                <div class="all-features-list-layout">
                    <strong (click)="showAllFeatures.set(!showAllFeatures())"  class="all-features-list-title clickable shake">The <span class="underline">{{jobsObjSignal().name}}</span> has access to all features</strong>
                    @if (showAllFeatures()) {
                        @for (jobFeature of jobsObjSignal().features; track $index) {
                            <span class="job-feature-layout">
                                <strong>{{jobFeature.title | uppercase}}</strong>
                                <em>{{jobFeature.cost}} ryō</em>
                                <span [innerHTML]="jobFeature.descrip"></span>
                            </span>
                        }
                    }
                </div>
            }
            @if (jobsObjSignal().pet) {
                <div class="extra-feature-section">
                    <span class="extra-feature-title">
                        <span class="extra-title">{{jobsObjSignal().pet?.title}}</span>
                        {{jobsObjSignal().pet?.subtitle}}
                    </span>
                    <span class="extra-feature-body">
                        @for (feature of jobsObjSignal().pet?.features; track $index) {
                            <div class="feature-header">
                                @if (feature.title) {
                                    <strong>{{feature.title}}</strong> 
                                }<span [innerHtml]="feature.descrip"></span>
                            </div>
                            @if (feature.extra.length !== 0) {
                                <div class="feature-extra">
                                    @for (ex of feature.extra; track $index) {
                                        <div [innerHTML]="ex"></div>
                                    }
                                </div>
                            }
                        }
                    </span>
                </div>
            }
            @if (jobsObjSignal().rulesFeature) {
                <div
                    class="rules-feature-layout"
                    [class]="{'puppet-master': jobsObjSignal().name === 'Kugutsu-No-Musha'}"
                >
                    @for (ruleFeature of jobsObjSignal().rulesFeature; track $index) {
                        <div class="rules-section">
                            <strong class="rules-section-title">
                                {{ ruleFeature.title | uppercase }}
                            </strong>
                            <span class="rules-section-content">
                                @for (ruleContent of ruleFeature.content; track $index) {
                                    <span [innerHTML]="ruleContent"></span>
                                }
                            </span>
                        </div>
                    }
                </div>
            }
        </span>
    </div>
</div>
