@use '../../../public/assets/colors';

.section-header {
    transform: rotate(-0.5deg)
}

.section-body {
    .subtitle-section {
        font-size: 0.8rem;
    }
    .extra-feature-section {
        font-size: 0.8rem;
        background-color: colors.$slightly-yellow;
        color: black;
        padding: 0.3rem;
        
        .extra-feature-title {
            font-size: 1rem;
            .extra-title {
                font-size: 1.5rem;
                font-family: 'CAT';
            }
        }
        .feature-header>strong {
            padding-right: 0.5rem;
        }
        .feature-extra {
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

.section-body >div {
    &:nth-child(odd) {
        transform: rotate(0.5deg);
    }
    &:nth-child(even) {
        transform: rotate(-0.5deg);
    }
}

.descrip-section {
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
    .split-feature-layout {
        display: grid;
        grid-template-columns: 1fr 33%;
        grid-template-rows: 1fr;
        column-gap: 0.5rem;
    }
}
