@use '../../../public/assets/colors';

.tenants-section {
    transform: unset !important;
    padding: 0.5rem;
    background-color: colors.$dark-red;
    .clickable {
        width: 100%;
        text-align: center;
        font-family: 'CAT';
        font-size: 1.5rem;
        .tenants-title {
            font-size: 1.5rem;
            font-family: 'CAT';
        }
    }
    .tenant-card {
        display: grid;
        grid-gap: 0.5rem;
        >div {
            &:nth-child(odd) {
                transform: rotate(-0.5deg);
            }
            &:nth-child(even) {
                transform: rotate(0.5deg);
            }
        }
        .tenant {
            padding: 0.5rem 0.2rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr min-content;
            grid-template-areas: 
                "title"
                "descrip"
                "dot";
            &-name {
                grid-area: title;
                place-self: center;
                text-align: center;
                color: colors.$slightly-yellow;
            }
            &-descrip {
                grid-area: descrip;
                text-align: center;
                font-size: 0.8rem;
            }
            .dot {
                grid-area: dot;
                place-self: center;
                margin-top: 1rem;
            }
        }
    }
    .tenant-closed-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0.2rem;
        strong {
            color: colors.$slightly-yellow;
        }
    }
    .dot {
        content: '';
        width: 0.3rem;
        height: 0.3rem;
        border: 3px solid colors.$slightly-yellow;
        transform: rotate(45deg);
    }
    .unseen-section {
        text-align: center;
        font-size: 0.8rem;
        padding-top: 0.5rem;
        border-top: 1px dotted black;
        font-family: 'ZombieQueen';
    }
}

@media only screen and (min-width: 768px) {
    .tenants-section {
        .tenant-card {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .tenants-section {
        .tenant-card {
            grid-template-columns: repeat(6, 1fr);
            .tenant {
                grid-template-columns: 1fr min-content;
                grid-template-rows: min-content 1fr;
                column-gap: 1rem;
                grid-template-areas: 
                    "title      ."
                    "descrip    dot";
                .dot {
                    margin-top: 0rem;
                }
            }
        }
    }
}
