<div class="section-layout">
    <div class="section-body">
        <div class="tenants-section">
            <div (click)="showTenantsDetails.set(!showTenantsDetails())" class="clickable shake">You must follow <strong class="underline tenants-title">{{currentTenants()?.title}}</strong></div>
            @if (showTenantsDetails()) {
                <div class="tenant-card">
                    @for (tenant of currentTenants()?.honourList; track $index) {
                        <div class="tenant">
                            <strong class="tenant-name underline">{{tenant.name}}</strong>
                            <span class="tenant-descrip">{{tenant.descrip}}</span>
                            @if ($index !== 5) {
                                <div class="dot"></div>
                            }
                        </div>
                    }
                </div>
            } @else {
                <div class="tenant-closed-display">
                    @for (tenant of currentTenants()?.honourList; track $index) {
                        <strong>{{tenant.name}}</strong>
                        @if ($index !== 5) {
                            <div class="dot"></div>
                        }
                    }
                </div>
            }
            @if (currentTenants()?.title === 'The Unseen Virtues') {
                <div class="unseen-section">
                    <em>you may lie to the GM when pleading your case for honourable actions</em>
                </div>
            }
        </div>
    </div>
</div>