@use '../../../public/assets/colors';
ul {
    padding: 0 0 0 1rem;
    margin: 0;
    list-style: none;
}
.item-row {
    display: flex;
    align-items: center;
    .clickable {
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }
    &.small-item-description {
        .clickable {
            font-size: 0.8rem;
        }
    }
}

.section-body {
    .equipment-section {
        header {
            border-bottom: 3px dotted colors.$dark-red;
            color: colors.$dark-red;
            margin-bottom: 0.3rem;
        }
        .equipment-section-body {
            ul {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                // >li {
                //     &:nth-child(odd) {
                //         transform: rotate(-0.5deg);
                //     }
                //     &:nth-child(even) {
                //         transform: rotate(0.5deg);
                //     }
                // }
            }
        }
    }
}